body {
	font-family: Arial; /* mijenjam font sa ovom komandom */
	background-color: #F8f8f8;
}

a{
	text-decoration: none;
	color: black;   /* boja naslova */
}

h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px; 
}

div.prvi {
	position: absolute;
	left: 5%;
}

section{
	background-color: #0095dd;
	border: 1px solid black;
	display: inline-block;
	width: 30%;
}

h2{
	color: white;
	background-color: gray;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	float: right;
	margin-top: 0;
	text-align: center;
	width: 25%;
	font-size: 1.25em;
	padding: 2px;
}

p {
	color: white;
	margin-top: 30px;
	padding: 15px;
} 

#Chicken {

}

#Beef {
margin-left: 15px;
margin-top: 20px;
}

#Sushi {
margin-left: 15px;
margin-top: 20px;
}


@media (min-width: 768px) and (max-width: 991px) {

body {
	font-family: Arial;
}

a {
	color: black;
}

p {
	color: white;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 15px;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
	background-color: gray;
	color: white;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 25%;
	float: right;
	font-size: 1.25em;
	margin-top: 0;
	padding: 2px;
}

div.prvi {
	position: absolute;
	right: 3%;
}

section {
	background-color: #0095dd;
	border: 1px solid black;
	width: 30%;
}

#Chicken {
    width: 45%;
}

#Beef {
	width: 45%;
	margin-left: 5%;
}

#Sushi {
	display: block;
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 20px;
}

}


@media (max-width: 767px) {

body {
	font-family: Arial;
}

a {
	color: black;
}

p {
	color: white;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 15px;

}

h1 {
	text-align: center;
	font-size: 1.75em;
	margin-top: 25px;
	margin-bottom: 25px;
}

h2 {
	background-color: gray;
	color: white;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 25%;
	float: right;
	font-size: 1.25em;
	margin-top: 0;
	padding: 2px;
}

div.prvi {
	position: absolute;
	right: 5%;
}

section {
	background-color: #0095dd;
	border: 1px solid black;
	width: 30%;
}

#Chicken {
	width: 100%;
}

#Beef {
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-left: 0;
}	

#Sushi {
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 20px;
}

}